body {
  font-family: 'Poppins', serif;
  background: #D6D5C6;
  padding-top: 50px;
}

.error {
  text-shadow: 1px 4px 10px grey;
  filter: blur(0.4px);
}

.error-code {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 200px;
  text-shadow:
    0px 180px 10px rgb(126, 126, 126),
    0px 120px 10px rgb(161, 161, 161),
    0px 60px 10px rgb(202, 202, 202);
  filter: blur(2px);
}

.error-message {
  padding-top: 120px;
  padding-bottom: 50px;
  font-weight: lighter;
  text-shadow:
    0px 35px 2px rgb(126, 126, 126),
    0px 25px 2px rgb(161, 161, 161),
    0px 15px 2px rgb(202, 202, 202);
  word-spacing: 40px;
  filter: blur(1px);
  text-align: center;
}

.btn {
  border-radius: 25px;
}
