body {
  padding-top: 61px;
  font-family: "Poppins", sans-serif !important;
}

.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.overview {
  height: 180px;
  background-color: lightgray;
}

.card-image {
  height: 280px;
}

.card-img-top {
  height: 100%;
  object-fit: cover;
}
